## Extract Data From PDF using PDF Plumber library

### Imports

In [16]:
import pdfplumber
import pandas as pd

### extract bordered table

In [2]:
pdf_path = r'C:\Users\Wissem\Downloads\Hardship-Index-Fact-Sheet-2017-ACS-Final.pdf'

In [3]:
def extract_tables_from_pdf(pdf_file):
    with pdfplumber.open(pdf_file) as pdf:
        tables = []
        for page in pdf.pages:
            tables.extend(page.extract_tables())
    return tables

In [4]:
extracted_tables = extract_tables_from_pdf(pdf_path)

In [5]:
real_tables = []
real_tables.append(extracted_tables[1])
real_tables.append(extracted_tables[2])
tables = []

In [6]:
table = real_tables[1]
for i in range(2,len(table)):
    L = table[i][-2].split()
    table[i][-2] = L[0]
    table[i][-1] = L[1] + table[i][-1]

In [7]:

for table in real_tables:
    table_data = {}
    table_data["columns"] = table[1]
    table_data["data"] = []
    for i in range(2,len(table)):
        table_data["data"].append(table[i])
    tables.append(table_data)

In [8]:
tables

[{'columns': ['Community Area',
   'Community\nArea Number',
   'Hardship\nIndex Score',
   'Percent of\nCrowded\nHousing',
   'Percent of House-\nholds with Income\nBelow Poverty\nLevel',
   'Unemployment\nrate for popula-\ntion Age 16 and\nOver',
   'Percent Aged 25 and\nOver with no High\nSchool Diploma',
   'Percent of Popula-\ntion Under Age 18 Pe\nand Over Age 64 Inc',
   'r Capita\nome'],
  'data': [['Rogers Park',
    '1',
    '39.4',
    '6.6',
    '22.6',
    '7.7',
    '9.5',
    '26.2 $2',
    '5,874'],
   ['West Ridge',
    '2',
    '47.3',
    '7.7',
    '16.8',
    '8.6',
    '11.7',
    '37.9 $2',
    '4,721'],
   ['Uptown', '3', '31.5', '4.7', '21.3', '6.6', '7.8', '24.3 $3', '7,869'],
   ['Lincoln Square',
    '4',
    '21.7',
    '1.7',
    '10.8',
    '4.2',
    '6.0',
    '25.8 $4',
    '4,432'],
   ['North Center',
    '5',
    '16.9',
    '0.7',
    '5.2',
    '3.6',
    '4.4',
    '32.2 $6',
    '4,494'],
   ['Lakeview', '6', '9.9', '1.6', '9.2', '3.1', '1.6', '19.5 $6', '7,066'],
   ['Lincoln Park',
    '7',
    '10.3',
    '1.1',
    '10.7',
    '3.1',
    '1.7',
    '22.9 $7',
    '3,965'],
   ['Near North Side',
    '8',
    '8.6',
    '1.9',
    '10.8',
    '3.9',
    '1.9',
    '23.7 $9',
    '1,948'],
   ['Edison Park',
    '9',
    '21.8',
    '1.0',
    '4.3',
    '2.9',
    '3.6',
    '37.7 $5',
    '1,423'],
   ['Norwood Park',
    '10',
    '28.2',
    '1.3',
    '8.0',
    '4.7',
    '5.7',
    '38.7 $4',
    '0,219'],
   ['Jefferson Park',
    '11',
    '31.3',
    '2.9',
    '7.4',
    '5.7',
    '8.2',
    '35.2 $3',
    '5,183'],
   ['Forest Glen',
    '12',
    '26.7',
    '1.0',
    '6.5',
    '3.8',
    '3.8',
    '42.8 $4',
    '7,342'],
   ['North Park',
    '13',
    '42.8',
    '5.0',
    '15.5',
    '7.0',
    '8.7',
    '42.7 $2',
    '8,173'],
   ['Albany Park',
    '14',
    '45.7',
    '8.6',
    '16.5',
    '7.1',
    '14.3',
    '32.0 $2',
    '5,848'],
   ['Portage Park',
    '15',
    '36.2',
    '3.5',
    '13.2',
    '7.0',
    '10.7',
    '33.0 $2',
    '8,866'],
   ['Irving Park',
    '16',
    '32.3',
    '3.5',
    '10.3',
    '5.8',
    '10.3',
    '30.2 $3',
    '1,043'],
   ['Dunning', '17', '33.4', '2.0', '9.6', '5.1', '9.0', '37.4 $2', '9,080'],
   ['Montclare',
    '18',
    '43.9',
    '4.7',
    '15.6',
    '7.5',
    '15.3',
    '36.9 $2',
    '6,831'],
   ['Belmont Cragin',
    '19',
    '55.9',
    '8.2',
    '18.7',
    '9.2',
    '22.2',
    '36.6 $1',
    '7,965'],
   ['Hermosa', '20', '54.3', '6.6', '22.3', '7.4', '24.0', '35.1 $1', '7,896'],
   ['Avondale',
    '21',
    '38.6',
    '3.3',
    '16.4',
    '5.5',
    '16.4',
    '30.5 $2',
    '6,860'],
   ['Logan Square',
    '22',
    '25.6',
    '2.7',
    '13.0',
    '4.2',
    '7.9',
    '26.0 $4',
    '1,065'],
   ['Humboldt Park',
    '23',
    '60.3',
    '9.1',
    '30.1',
    '12.1',
    '16.9',
    '38.5 $1',
    '5,849'],
   ['West Town',
    '24',
    '18.7',
    '2.0',
    '11.5',
    '4.7',
    '7.0',
    '21.0 $5',
    '4,429'],
   ['Austin', '25', '53.1', '4.4', '28.1', '15.4', '13.6', '38.6 $1', '7,586'],
   ['West Garfield Park',
    '26',
    '68.3',
    '8.0',
    '40.5',
    '20.0',
    '15.5',
    '43.0 $1',
    '2,483'],
   ['', '', '', '', '', '', '', '', '']]},
 {'columns': ['Community Area',
   'Community\nArea Number',
   'Hardship\nIndex Score',
   'Percent of\nCrowded\nHousing',
   'Percent of House-\nholds with Income\nBelow Poverty\nLevel',
   'Unemployment\nrate for popula-\ntion Age 16 and\nOver',
   'Percent Aged 25\nand Over with\nno High School\nDiploma',
   'Percent of Popu-\nlation Under Age\n18 and Over Age Pe\n64 In',
   'r Capita\ncome'],
  'data': [['West Pullman',
    '53',
    '54.3',
    '3.2',
    '23.9',
    '25.1',
    '10.1',
    '41.1',
    '$18,007'],
   ['Riverdale',
    '54',
    '84.2',
    '10.5',
    '58.8',
    '35.6',
    '9.3',
    '47.6',
    '$9,601'],
   ['Hegewisch', '55', '37.0', '3.0', '15.2', '8.3', '9.5', '34.3', '$27,546'],
   ['Garfield Ridge',
    '56',
    '38.7',
    '3.6',
    '6.3',
    '9.4',
    '12.4',
    '37.5',
    '$28,925'],
   ['Archer Heights',
    '57',
    '56.1',
    '9.7',
    '15.9',
    '9.2',
    '17.9',
    '40.2',
    '$18,497'],
   ['Brighton Park',
    '58',
    '66.1',
    '12.7',
    '23.2',
    '10.9',
    '24.2',
    '37.7',
    '$15,552'],
   ['McKinley Park',
    '59',
    '51.5',
    '5.5',
    '23.1',
    '12.0',
    '18.4',
    '34.6',
    '$19,923'],
   ['Bridgeport',
    '60',
    '41.9',
    '4.7',
    '18.4',
    '8.9',
    '15.1',
    '30.2',
    '$25,373'],
   ['New City',
    '61',
    '62.6',
    '8.2',
    '28.0',
    '18.3',
    '17.1',
    '39.4',
    '$14,267'],
   ['West Elsdon',
    '62',
    '49.2',
    '6.4',
    '10.7',
    '11.8',
    '16.2',
    '37.7',
    '$19,283'],
   ['Gage Park',
    '63',
    '65.3',
    '12.1',
    '18.5',
    '13.7',
    '22.4',
    '39.0',
    '$13,605'],
   ['Clearning', '64', '38.8', '3.6', '9.9', '10.1', '9.9', '36.4', '$25,722'],
   ['West Lawn',
    '65',
    '53.7',
    '6.8',
    '14.5',
    '13.1',
    '18.6',
    '38.7',
    '$18,633'],
   ['Chicago Lawn',
    '66',
    '59.2',
    '5.2',
    '27.4',
    '22.0',
    '17.2',
    '37.2',
    '$14,618'],
   ['West Englewood',
    '67',
    '63.3',
    '3.3',
    '30.5',
    '31.6',
    '14.0',
    '41.8',
    '$14,836'],
   ['Englewood',
    '68',
    '70.5',
    '4.0',
    '42.4',
    '34.1',
    '16.1',
    '41.5',
    '$12,777'],
   ['Greater Grand Crossing',
    '69',
    '54.3',
    '3.2',
    '35.4',
    '22.0',
    '9.1',
    '37.9',
    '$16,719'],
   ['Ashburn', '70', '40.8', '3.3', '11.3', '13.0', '9.6', '36.9', '$23,990'],
   ['Auburn Gresham',
    '71',
    '51.5',
    '1.9',
    '27.9',
    '21.1',
    '11.3',
    '39.2',
    '$18,473'],
   ['Beverly', '72', '24.5', '0.3', '5.5', '6.2', '2.3', '39.7', '$44,979'],
   ['Washington Heights',
    '73',
    '43.3',
    '1.4',
    '20.2',
    '18.3',
    '7.2',
    '38.2',
    '$22,275'],
   ['Mount Greenwood',
    '74',
    '25.6',
    '2.4',
    '4.6',
    '3.1',
    '2.8',
    '36.4',
    '$36,365'],
   ['Morgan Park',
    '75',
    '36.7',
    '0.4',
    '15.5',
    '11.7',
    '5.8',
    '41.4',
    '$29,636'],
   ['O’Hare', '76', '33.8', '2.8', '14.1', '7.7', '8.8', '31.2', '$28,606'],
   ['Edgewater',
    '77',
    '28.9',
    '4.1',
    '15.8',
    '6.2',
    '7.3',
    '25.2',
    '$38,748']]}]

### Extract Borderless Table

In [55]:
with pdfplumber.open(pdf_path) as pdf:
    borderless_table = pdf.pages[4].extract_text()
    borderless_table = borderless_table.split("\n")

In [56]:
borderless_table.pop(0)
borderless_table.pop(0)
borderless_table.pop(0)
borderless_table.pop(0)
borderless_table.pop(-1)

'5'

In [57]:
borderless_table

['East Garfield Park 27 58.9 4.7 40.7 18.5 12.7 38.5 $14,638',
 'Near West Side 28 26.6 4.2 20.5 8.3 5.6 22.2 $50,394',
 'North Lawndale 29 59.8 4.4 37.8 19.9 14.2 38.9 $13,236',
 'South Lawndale 30 70.6 13.6 30.3 8.7 28.8 35.3 $11,345',
 'Lower West Side 31 50.1 6.1 22.1 7.0 22.2 32.0 $21,131',
 'Loop 32 9.0 2.8 11.3 4.6 1.4 16.7 $77,722',
 'Near South Side 33 11.2 2.4 10.0 3.0 2.7 24.1 $82,859',
 'Armour Square 34 63.5 5.7 38.2 11.7 25.0 40.4 $19,067',
 'Douglas 35 42.5 2.4 32.8 15.0 7.7 30.4 $24,056',
 'Oakland 36 53.2 2.5 33.2 22.6 9.1 40.1 $20,884',
 'Fuller Park 37 64.9 1.7 33.8 30.7 20.0 41.7 $17,515',
 'Grand Boulevard 38 49.8 2.0 32.5 19.6 9.7 38.7 $24,616',
 'Kenwood 39 34.6 1.8 23.7 10.8 5.5 35.4 $42,491',
 'Washington Park 40 60.2 3.9 38.9 23.2 10.0 42.2 $14,203',
 'Hyde Park 41 25.3 1.6 23.3 6.7 2.2 26.4 $41,719',
 'Woodlawn 42 50.4 3.5 35.2 16.9 8.2 36.7 $19,117',
 'South Shore 43 51.4 3.2 36.9 18.9 7.5 37.5 $20,067',
 'Chatham 44 47.9 2.9 26.1 19.0 8.0 37.9 $21,416',
 'Avalon Park 45 47.6 1.9 23.5 17.8 9.8 40.6 $22,578',
 'South Chicago 46 54.9 3.4 28.9 20.3 11.6 41.1 $16,996',
 'Burnside 47 51.2 1.3 24.9 22.3 10.4 41.1 $17,678',
 'Calumet Heights 48 38.4 2.0 13.7 12.3 8.1 37.8 $27,488',
 'Roseland 49 52.6 2.2 24.0 24.3 9.6 41.8 $19,755',
 'Pullman 50 43.3 2.0 21.1 17.4 8.6 35.9 $23,659',
 'South Deering 51 58.1 3.2 27.3 22.4 14.1 43.4 $16,207',
 'East Side 52 56.7 5.3 18.5 18.1 18.1 41.0 $17,931']

In [58]:
table = []
for str_line in borderless_table:
    line = str_line.split()
    for index in range(1,len(line)):
        if line[index].isalpha():
            line[0] = line[0] + " " + line[index]
    table.append(line)

for row in table:    
    for index, item in enumerate(row):
        if index != 0 and len(item.split()) == 1 and item.isalpha():
            row.remove(item)

In [60]:
table_3 = {}
table_3["columns"] = []
table_3["data"] = table
tables.append(table_3)

### Aggregation de la data

In [13]:
abbreviations_columns = [
    'Comm_Area',
    'Comm_Area_No',
    'Hardship_Score',
    'Crowded_Housing_Per',
    'Below_Poverty_Household_Income',
    'Unemployment_Rate',
    'No_High_School_Diploma',
    'Under_18_over_64',
    'Per_Capita_Income'
]

In [14]:
metadata = {
    'Comm_Area': 'Community area name',
    'Comm_Area_No': 'Unique area identifier',
    'Hardship_Score': 'Hardship index score',
    'Crowded_Housing_Per': 'Percentage of crowded housing',
    'Below_Poverty_Household_Income': 'Percentage below poverty level',
    'Unemployment_Rate': 'Unemployment rate (age 16+)',
    'No_High_School_Diploma': 'Percentage no high school diploma (age 25+)',
    'Under_18_over_64': 'Percentage under 18 and over 64 people',
    'Per_Capita_Income': 'Per capita income'
}

In [62]:
tables[0]["columns"] = abbreviations_columns
tables[1]["columns"] = abbreviations_columns
tables[2]["columns"] = abbreviations_columns

In [65]:
big_table = {}
big_table["columns"] = abbreviations_columns
big_table["data"] = tables[0]["data"] + tables[1]["data"] + tables[2]["data"]

In [67]:
for row in big_table["data"]:
    if len(row)>9:
        row.pop(1)

In [69]:
table_df = pd.DataFrame(big_table['data'], columns=big_table['columns'])

In [70]:
table_df.head()

,Comm_Area,Comm_Area_No,Hardship_Score,Crowded_Housing_Per,Below_Poverty_Household_Income,Unemployment_Rate,No_High_School_Diploma,Under_18_over_64,Per_Capita_Income
0,Rogers Park,1,39.4,6.6,22.6,7.7,9.5,26.2 $2,"5,874"
1,West Ridge,2,47.3,7.7,16.8,8.6,11.7,37.9 $2,"4,721"
2,Uptown,3,31.5,4.7,21.3,6.6,7.8,24.3 $3,"7,869"
3,Lincoln Square,4,21.7,1.7,10.8,4.2,6.0,25.8 $4,"4,432"
4,North Center,5,16.9,0.7,5.2,3.6,4.4,32.2 $6,"4,494"