In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("Kay_Dataset.csv")
df.head()

,community_area,primary_type,Description,Domestic,location_description,Date,Comm_Area,Hardship_Score,Crowded_Housing_Per,Below_Poverty_Household_Income,Unemployment_Rate,No_High_School_Diploma,Under_18_over_64,Per_Capita_Income
0,63,OFFENSE AND KIDNAPPING,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,True,APARTMENT,2015-09-24T00:00:00.000000,Gage Park,65.3,12.1,18.5,13.7,22.4,39.0,13605
1,63,OFFENSE AND KIDNAPPING,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,True,APARTMENT,2014-09-07T00:00:00.000000,Gage Park,65.3,12.1,18.5,13.7,22.4,39.0,13605
2,30,OFFENSE AND KIDNAPPING,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,True,RESIDENCE,2015-06-18T00:00:00.000000,South Lawndale,70.6,13.6,30.3,8.7,28.8,35.3,11345
3,46,PUBLIC ORDER CRIMES,FINANCIAL IDENTITY THEFT OVER $ 300,False,APARTMENT,2013-08-27T00:00:00.000000,South Chicago,54.9,3.4,28.9,20.3,11.6,41.1,16996
4,16,THEFT,OVER $500,False,RESIDENCE,2017-07-14T00:30:00.000000,Irving Park,32.3,3.5,10.3,5.8,10.3,30.2,31043

In [7]:
# Assuming df is your DataFrame with a 'Date' column
# Convert the 'Date' column to datetime objects with an explicit format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%dT%H:%M:%S.%f')

# Define the function to categorize the time of day
def categorize_time_of_day(dt):
    hour = dt.hour
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

# Apply the function to categorize times of day
df['TimeOfDay'] = df['Date'].apply(categorize_time_of_day)

# If you want to replace the 'Date' column with these categories
df['Date'] = df['TimeOfDay']

# Drop the 'TimeOfDay' column if it's no longer needed
df.drop('TimeOfDay', axis=1, inplace=True)

# Save the updated DataFrame to a CSV, overwriting the original file
df.to_csv('Kay_Dataset.csv', index=False)